<div class="sidebar sticky page__sidebar">
  <h3>Navigation valeurs et reglements</h3>
  <ul class="nav__list">
    <li class="{% if page.url == '/faction/camarilla/' %}active{% endif %}"><a href="{{ site.baseurl }}/faction/camarilla/">La Camarilla</a></li>
    <li class="{% if page.url == '/faction/anarch/' %}active{% endif %}"><a href="{{ site.baseurl }}/faction/anarch/">Les Anarchs</a></li>
    <li class="{% if page.url == '/faction/sabbat/' %}active{% endif %}"><a href="{{ site.baseurl }}/faction/sabbat/">LeSabbat</a></li>
</ul>
</div>
<style>
.sidebar .nav__list .active > a {
  font-weight: bold;
  font-size: 1.15em;                   
  border-left: 5px solid #ff5f6d;
  background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%); 
  padding-left: 14px;           
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  transition: all 0.2s ease;
  padding: 5px;
  color: white !important;
  text-decoration: unset;
}

/* Petit effet hover pour renforcer encore */
.sidebar .nav__list .active > a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
</style>
