<div class="sidebar sticky page__sidebar">
  <h3>Navigation Univers</h3>
  <ul>
    <li class="class="{% if current == "{{ site.baseurl }}/univers/" %}active{% endif %}""><a href="{{ site.baseurl }}/univers/">Vue d'ensemble</a></li>
    <li><a href="{{ site.baseurl }}/univers/mdt/">Le monde des ténebres</a></li>
    <li><a href="{{ site.baseurl }}/univers/met/">Mind’s Eye Theater</a></li>
    <li><a href="{{ site.baseurl }}/univers/monde_vampirique/">Le monde vampirique</a></li>
    <li><a href="{{ site.baseurl }}/univers/factions/">Les factions</a></li>
    <li><a href="{{ site.baseurl }}/univers/clans/">Les clans</a></li>
    <li><a href="{{ site.baseurl }}/univers/status_age/">Les statuts d’âge</a></li>
    <li><a href="{{ site.baseurl }}/univers/ennemis_vampire/">Les Ennemis des Vampires</a></li>
    <li><a href="{{ site.baseurl }}/univers/autres_concepts/">Autres Concepts Importants</a></li>
  </ul>
</div>
