<div class="sidebar sticky">
  <h3>Navigation Clan</h3>
  <ul>
    <li><a href="{{ site.baseurl }}/clans/brujah/">Brujah</a></li>
    <li><a href="{{ site.baseurl }}/clans/malkavian/">Malkavian</a></li>
    <li><a href="{{ site.baseurl }}/clans/gangrel/">Gangrel</a></li>
    <li><a href="{{ site.baseurl }}/clans/nosferatu/">Nosferatu</a></li>
    <li><a href="{{ site.baseurl }}/clans/toreador/">Toreador</a></li>
    <li><a href="{{ site.baseurl }}/clans/tremere/">Tremere</a></li>
    <li><a href="{{ site.baseurl }}/clans/ventrue/">Ventrue</a></li>
    <li><a href="{{ site.baseurl }}/clans/lasombra/">Lasombra</a></li>
    <li><a href="{{ site.baseurl }}/clans/tzimisce/">Tzimisce</a></li>
    <li><a href="{{ site.baseurl }}/clans/giovanni/">Giovanni</a></li>
    <li><a href="{{ site.baseurl }}/clans/ravnos/">Ravnos</a></li>
    <li><a href="{{ site.baseurl }}/clans/sethite/">Sethite</a></li>
    <li><a href="{{ site.baseurl }}/clans/assamite/">Assamite</a></li>
  </ul>
</div>
