<div class="sidebar sticky page__sidebar">
  <h3>Navigation Univers</h3>
  <ul>
    <li><a href="{{ site.baseurl }}/mdt/">Le monde des ténebres</a></li>
    <li><a href="{{ site.baseurl }}/monde_vampirique/">Le monde vampirique</a></li>
    <li><a href="{{ site.baseurl }}/factions/">Les factions</a></li>
    <li><a href="{{ site.baseurl }}/clans/">Les clans</a></li>
    <li><a href="{{ site.baseurl }}/status_age/">Les statuts d’âge</a></li>
    <li><a href="{{ site.baseurl }}/ennemis_vampire/">Les Ennemis des Vampires</a></li>
    <li><a href="{{ site.baseurl }}/status_age/">Les statuts d’âge</a></li>
    <li><a href="{{ site.baseurl }}/autres_concepts/">Autres Concepts Importants</a></li>
    <li><a href="{{ site.baseurl }}/status_age/">Les statuts d’âge</a></li>
    <li><a href="{{ site.baseurl }}/met/">Mind’s Eye Theater</a></li>
  </ul>
</div>
